@import url(./normalize.css);
@import url(./colors.css);
@import url(./fonts.css);
@import url(./var.css);
@import url(./icons.css);
@import url(./components/subnav.css);
@import url(./components/header-top.css);
@import url(./components/header.css);
@import url(./components/partners.css);
@import url(./components/products.css);

html,
body {
  font-family: 'Montserrat';
  font-weight: 400;
  color: var(--black);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: var(--desktop-width);
  height: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
