<div class="footer">
  <div class="container">
    <div class="grid--footer">
      <div class="links">
        <ul>
          <li>Каталог</li>
          <li><a href="">Армстронг</a></li>
          <li><a href="">Албес</a></li>
          <li><a href="">Ермак</a></li>
          <li><a href="">Грильято Албес</a></li>
          <li><a href="">Грильято Ермак</a></li>
          <li><a href="">Касетный потолок Албес</a></li>
          <li><a href="">Реечный потолок Албес</a></li>
          <li><a href="">Подвесной потолок пр-ва Китай</a></li>
          <li><a href="">Подвесная система Армстронг</a></li>
          <li><a href="">Подвесная система Албес</a></li>
          <li><a href="">Акустические потолочные решения</a></li>
        </ul>

        <ul>
          <li>Компания</li>
          <li><a href="">Главная</a></li>
          <li><a href="">О компании</a></li>
          <li><a href="">Блог</a></li>
          <li><a href="">Контакты</a></li>
        </ul>

        <ul>
          <li>Документы</li>
          <li><a href="">Сертификаты</a></li>
          <li><a href="">Юридическая информация</a></li>
          <li><a href="">Условия возврата</a></li>
          <li><a href="">Политика конфиденциальности</a></li>
        </ul>
      </div>

      <img class="logo" src="./images/logo-footer.png" alt="" />

      <div class="phone-and-button--calculator">
        <a class="phone" href="tel:+74959011200">+7(495)901-12-00</a>
        <a class="button button--calculator" href="">
          <span>Калькулятор</span>
        </a>
      </div>

      <div class="diviver"></div>

      <div class="copyright">
        <span class="text--title-1 text--uppercase"
          >© АГЕНТСТВО СТРОИТЕЛЬНОЙ КОМПЛЕКТАЦИИ "АСКО", 2024</span
        >
        <span
          >Официальный поставщик крупнейших производителей материалов потолочных
          систем и строительной химии
        </span>
      </div>

      <div class="messengers">
        <a href="" class="viber"></a>
        <a href="" class="telegram"></a>
        <a href="" class="whatsapp"></a>
      </div>
    </div>
  </div>
</div>
