<div class="header-top">
  <div class="container">
    <a class="logo" href="/"><img src="./images/logo.png" alt="" /></a>
    <nav>
      <ul class="text--title-16">
        <li><a href="http://">Каталог</a></li>
        <li><a href="http://">Калькулятор</a></li>
        <li><a href="http://">О компании</a></li>
        <li><a href="http://">Блог</a></li>
        <li><a href="http://">Контакты</a></li>
      </ul>
    </nav>

    <div class="wrapper">
      <div class="wrapper--search popup-toggle">
        <button class="search"></button>

        <div class="search-panel">
          <div class="container">
            <div class="wrapper">
              <input
                type="text"
                name="search-in-header"
                id="search-in-header"
                placeholder="Введите фразу для поиска"
              />
            </div>

            <!-- если есть результат добавить search-result--open -->
            <div class="search-result search-result--open">
              <ul>
                <li><a href="">Минеральные потолки </a></li>
                <li><a href="">Минеральные потолки </a></li>
                <li><a href="">Минеральные потолки </a></li>
                <li><a href="">Минеральные потолки </a></li>
                <li><a href="">Минеральные потолки </a></li>
              </ul>

              <a class="button button--grey" href="#">все результаты</a>
            </div>
          </div>
        </div>
      </div>
      <button class="send-request">Отправить заявку</button>
    </div>
  </div>
</div>
