<div class="mobile">
  <div class="wrapper">
    <button class="burger"></button>
    <a href="" class="logo"><img src="./images/logo--mobile.png" alt="" /></a>
  </div>

  <div class="wrapper-social">
    <a href="" class="search"></a>
    <a href="" class="call"></a>
    <a href="" class="whatsapp"></a>
    <a href="" class="telegram"></a>
  </div>
</div>

<div class="mobile-menu hidden">
  <ul>
    <li>
      <button class="close-menu"></button>
    </li>
    <li class="submenu">
      <button class="text--14">Каталог</button>

      <ul>
        <li class="title">
          <a href="">Потолочные панели Армстронг1</a>
        </li>
        <li class="item">
          <a href="">BAJKAL 90RH</a>
        </li>
        <li class="item"><a href="">PERLA </a></li>
        <li class="item"><a href="">SIERRA </a></li>
        <li class="item"><a href="">BIOGUARD </a></li>
        <li class="item"><a href="">SAHARA </a></li>
        <li class="item"><a href="">OPTIMA </a></li>
        <li class="item"><a href="">OPTІMA CANOPY</a></li>
        <li class="item"><a href="">NewTonE</a></li>
        <li class="item"><a href="">BAJKAL 90RH</a></li>
        <li class="item"><a href="">PERLA </a></li>
        <li class="item"><a href="">SIERRA </a></li>
        <li class="item"><a href="">BIOGUARD </a></li>
        <li class="item"><a href="">SAHARA </a></li>
        <li class="item"><a href="">OPTIMA </a></li>
        <li class="item"><a href="">OPTІMA CANOPY</a></li>
        <li class="item"><a href="">NewTonE</a></li>
        <li class="item"><a href="">BAJKAL 90RH</a></li>
        <li class="item"><a href="">PERLA </a></li>
        <li class="item"><a href="">SIERRA </a></li>
        <li class="item"><a href="">BIOGUARD </a></li>
        <li class="item"><a href="">SAHARA </a></li>
        <li class="item"><a href="">OPTIMA </a></li>
        <li class="item"><a href="">OPTІMA CANOPY</a></li>
        <li class="item"><a href="">NewTonE</a></li>
        <li class="more">еще</li>
      </ul>

      <ul>
        <li class="title">
          <a href="">Потолочные панели Армстронг2</a>
        </li>
        <li class="item"><a href="">BIOGUARD </a></li>
        <li class="item"><a href="">SAHARA </a></li>
        <li class="item"><a href="">OPTIMA </a></li>
        <li class="item"><a href="">OPTІMA CANOPY</a></li>
        <li class="item"><a href="">NewTonE</a></li>
        <li class="more">еще</li>
      </ul>

      <ul>
        <li class="title">
          <a href="">Потолочные панели Армстронг3</a>
        </li>
        <li class="item"><a href="">BIOGUARD </a></li>
        <li class="item"><a href="">SAHARA </a></li>
        <li class="item"><a href="">OPTIMA </a></li>
        <li class="item"><a href="">OPTІMA CANOPY</a></li>
        <li class="item"><a href="">NewTonE</a></li>
        <li class="more">еще</li>
      </ul>

      <ul>
        <li class="title">
          <a href="">Подвесные системы Армстронг4</a>
        </li>
        <li class="item">
          <a href="">Подвесная система Prelude 24</a>
        </li>
        <li class="item">
          <a href="">С-КАНАЛ + ПРУЖИННАЯ Т-РЕЙКА</a>
        </li>
        <li class="item">
          <a href="">Подвесная система для металлических потолков на основе</a>
        </li>
        <li class="item"><a href="">Оформление периметра</a></li>
        <li class="item">
          <a href="">SILHOUETTE (дизайнерская видимая подвесная система)</a>
        </li>
        <li class="item">
          <a href="">С-КАНАЛ + ПРУЖИННАЯ Т-РЕЙКА</a>
        </li>
        <li class="item">
          <a href="">Подвесная система для металлических потолков на основе</a>
        </li>
        <li class="item">
          <a href="">Подвесная система для металлических потолков на основе</a>
        </li>
        <li class="item"><a href="">Оформление периметра</a></li>
        <li class="item">
          <a href="">SILHOUETTE (дизайнерская видимая подвесная система)</a>
        </li>
        <li class="item">
          <a href="">Подвесная система lnterIude</a>
        </li>
        <li class="item"><a href="">Система Z</a></li>
        <li class="more">еще</li>
      </ul>

      <ul>
        <li class="title">
          <a href="">Подвесные системы Армстронг5</a>
        </li>
        <li class="item">
          <a href="">Подвесная система Prelude 24</a>
        </li>
        <li class="item"><a href="">ЛИНЕЙКА профилей АХОМ</a></li>
        <li class="item">
          <a href="">Подвесная система DGS для потолков из ГКЛ</a>
        </li>
        <li class="item">
          <a href="">Решения DGS для коридоров</a>
        </li>
        <li class="item">
          <a href="">Решения DGS для оформления периметра</a>
        </li>
        <li class="item">
          <a href="">С-КАНАЛ + ПРУЖИННАЯ Т-РЕЙКА</a>
        </li>
        <li class="item">
          <a href="">Подвесная система для металлических потолков на основе</a>
        </li>
        <li class="item"><a href="">Оформление периметра</a></li>
        <li class="item">
          <a href="">SILHOUETTE (дизайнерская видимая подвесная система)</a>
        </li>
        <li class="item">
          <a href="">Подвесная система для металлических потолков на основе</a>
        </li>
        <li class="more">еще</li>
      </ul>

      <ul>
        <li class="title">
          <a href="">Подвесные системы Армстронг6</a>
        </li>
        <li class="item">
          <a href="">Подвесная система Prelude 24</a>
        </li>
        <li class="item"><a href="">ЛИНЕЙКА профилей АХОМ</a></li>
        <li class="item">
          <a href="">Подвесная система DGS для потолков из ГКЛ</a>
        </li>
        <li class="item">
          <a href="">Решения DGS для коридоров</a>
        </li>
        <li class="item">
          <a href="">Решения DGS для оформления периметра</a>
        </li>
        <li class="item">
          <a href="">С-КАНАЛ + ПРУЖИННАЯ Т-РЕЙКА</a>
        </li>
        <li class="item">
          <a href="">Подвесная система для металлических потолков на основе</a>
        </li>
        <li class="item"><a href="">Оформление периметра</a></li>
        <li class="item">
          <a href="">SILHOUETTE (дизайнерская видимая подвесная система)</a>
        </li>
        <li class="item">
          <a href="">Подвесная система lnterIude</a>
        </li>
        <li class="item"><a href="">Система Z</a></li>
        <li class="item">
          <a href="">Подвесная система Prelude 24</a>
        </li>
        <li class="item"><a href="">ЛИНЕЙКА профилей АХОМ</a></li>
        <li class="item">
          <a href="">Подвесная система DGS для потолков из ГКЛ</a>
        </li>
        <li class="item">
          <a href="">Решения DGS для коридоров</a>
        </li>
        <li class="item">
          <a href="">Решения DGS для оформления периметра</a>
        </li>
        <li class="item">
          <a href="">С-КАНАЛ + ПРУЖИННАЯ Т-РЕЙКА</a>
        </li>
        <li class="item">
          <a href="">Подвесная система для металлических потолков на основе</a>
        </li>
        <li class="item"><a href="">Оформление периметра</a></li>
        <li class="item">
          <a href="">SILHOUETTE (дизайнерская видимая подвесная система)</a>
        </li>
        <li class="item">
          <a href="">Подвесная система lnterIude</a>
        </li>
        <li class="more">еще</li>
      </ul>
    </li>
    <li class="text--14">Калькулятор</li>
    <li class="text--14">О компании</li>
    <li class="text--14">Блог</li>
    <li class="text--14">Контакты</li>
  </ul>

  <button class="button button--orange send-request">Отправить заявку</button>

  <div class="wrapper">
    <span class="mail"><a href="mailto:info@asko.su">info@asko.su</a></span>
    <span class="phone"><a href="tel:+74959011200">+7 495 901 12 00</a></span>
  </div>

  <div class="wrapper">
    <button class="button button--order-call">Заказать звонок</button>
    <div class="messengers">
      <a class="whatsapp" href="http://"></a>
      <a class="telegram" href="http://"></a>
    </div>
  </div>
</div>
