<div class="subnav text--12">
  <div class="container">
    <div class="city-selector popup-toggle" data-city="Москва">
      <span class="city-selected">Москва</span>
      <ul class="cities">
        <li class="city">Санкт-Петербург</li>
        <li class="city">Москва</li>
        <li class="city">Вышний Волочок</li>
        <li class="city">Петропавловск-Камчатский</li>
        <li class="city">Москва</li>
        <li class="city">Вышний Волочок</li>
        <li class="city">Петропавловск-Камчатский</li>
        <li class="city">Москва</li>
        <li class="city">Вышний Волочок</li>
        <li class="city">Петропавловск-Камчатский</li>
        <li class="city">Москва</li>
        <li class="city">Вышний Волочок</li>
        <li class="city">Петропавловск-Камчатский</li>
      </ul>
    </div>

    <div class="address">ул. Правды 24, стр.4, офис 313</div>
    <span class="mail"><a href="mailto:info@asko.su">info@asko.su</a></span>
    <span class="phone"><a href="tel:+74959011200">+7 495 901 12 00</a></span>

    <div class="messengers">
      <a class="whatsapp" href="http://"></a>
      <a class="telegram" href="http://"></a>
    </div>

    <button class="button button--order-call">Заказать звонок</button>
  </div>
</div>
