.lb-top {
    background-color: black;
    color: white;
    margin-top: -1.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lb-top__container {
    height: 51.375rem;
    position: relative;
    /*27022026*/
    background-repeat: no-repeat;
}

.lb-top__column--first {
    position: absolute;
    top: 45%;
    left: 0;
    width: 40%;
}

.lb-top h1 {
    position: absolute;
    left: 0;
    top: 25%;
    font-size: 2.75rem;
    line-height: 3.375rem;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.01rem;
}

.lb-top h1 span {
    white-space: nowrap;
}

.lb-top__works {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
}

ul.lb-top__works li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

ul.lb-top__works li::before {
    content: '';
    width: 1.5625rem;
    height: 1.5625rem;
    background-image: url(../images/icons/check--round.svg);
    background-size: 1.0625rem;
    background-position: center;
    background-repeat: no-repeat;
}

.lb-top__description p {
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 6.25rem;
}

.lb-top__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.lb-top__column--second {
    position: absolute;
    top: 34%;
    left: 46%;
}

.lb-top__info {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.lb-top__info li {
    padding: 1.25rem;
    width: 21.25rem;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    border-radius: 0.375rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.lb-top__info li::before {
    content: '';
    width: 1.5625rem;
    height: 1.5625rem;
    background-image: url(../images/icons/check--round.svg);
    background-position: center;
    background-size: 1.0625rem;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

/*  */

.lb-button {
    display: inline-block;
    padding: 1rem 3.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    background-color: var(--orange);
    border-radius: 0.375rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.lb-content {
    padding: 2.5rem 0 0 0;
    display: grid;
    row-gap: 2.5rem;
}

.lb-content__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
}

.lb-content__wrapper>* {
    width: 50%;
}

.lb-content h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;

}

.lb-content__text {
    display: grid;
    row-gap: 1.5rem;
    grid-template-rows: auto 1fr;
}

.lb-content__text p {
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.lb-content__image img {
    width: 100%;
    object-fit: contain;
}

.lb-steps {
    background-color: var(--grey-4);
    padding: 5rem 0;
}

.lb-steps__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
}

.lb-steps h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.01rem;
    margin-bottom: 2.5rem;
}

.lb-steps ol li {
    display: flex;
    gap: 1rem;
    align-items: center;
    counter-increment: my-counter;
    margin-bottom: 5px;
    width: calc(50% - 2.5rem);
    position: relative;
    font-weight: 500;
    flex-shrink: 0;
}

.lb-steps ol {
    list-style-type: none;
    counter-reset: my-counter;
    padding-left: 0;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    overflow: hidden;
}


.lb-steps ol li::before {
    content: counter(my-counter);
    width: 3.25rem;
    height: 3.25rem;
    background-color: var(--grey-5);
    border-radius: 100%;
    display: grid;
    place-content: center;
    color: var(--orange);
    font-size: 1.25rem;
    font-weight: 500;
    z-index: 1;
    flex-shrink: 0;
}

.lb-steps ol li::after {
    content: '';
    width: 2px;
    height: 6rem;
    background-color: var(--grey-5);
    /* background-color: red; */
    position: absolute;
    bottom: 0;
    left: calc(3.25rem / 2);
    z-index: 0;
}

.lb-steps__contact {
    border: 1px solid var(--orange);
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: grid;
    gap: 1rem;
    color: var(--grey-1);
}

.lb-input__wrapper {
    display: grid;
    gap: 0.5rem;
}

.lb-input__wrapper label {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
}

.lb-input__wrapper input[type="text"] {
    border: 1px solid var(--grey-3);
    border-radius: 0.4375rem;
    padding: 1rem;
    background-color: white;
}

.lb-steps__contact .lb-input__wrapper input[type="text"]::placeholder {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--grey-1);
}

.lb-input__wrapper input[type="checkbox"] {
    display: none;
}

.lb-input__wrapper .label--checkbox {
    display: flex;
    gap: 0.75rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
}

.lb-input__wrapper .label--checkbox a {
    font-weight: 500;
    text-decoration: none;
}

.lb-steps__contact .lb-input__wrapper .label--checkbox a {
    color: var(--grey-1);
}


.lb-input__wrapper .label--checkbox::before {
    content: '';
    width: 1.625rem;
    height: 1.625rem;
    border: 1px solid var(--grey-2);
    border-radius: 6px;
    flex-shrink: 0;
    background-color: white;
}

.lb-input__wrapper input[type="checkbox"]:checked+.label--checkbox::before {
    background-image: url(../images/icons/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
}

.lb-button__wrapper {
    display: grid;
    place-content: center;
}

.lb-button__wrapper .lb-button {
    font-size: 0.75rem;
    line-height: 1.5rem;
}


.lb-why h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.lb-why__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.lb-why__block {
    padding: 1.5rem;
    border: 1px solid var(--grey-3);
    border-radius: 0.5rem;
    display: grid;
    grid-template-areas:
        'title image'
        'subtitle image';
    gap: 1rem;
    font-weight: 500;
    align-content: flex-start;
    justify-content: space-between;
}

.lb-why__block-title {
    grid-area: title;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.lb-why__block-subtitle {
    grid-area: subtitle;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey-1);
}

.lb-why__block-image {
    grid-area: image;
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 100%;
    background-color: var(--orange);
    display: grid;
    place-content: center;
}

.lb-why__block-image img {
    width: 1.5rem;
    height: 1.5rem;
}

.lb-bottom {
    background-color: #000000;
    color: white;
    background-image: url(../images/lb/lb-bottom.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: -2.5rem;
}

.lb-bottom__container {
    height: 33.875rem;
    display: grid;
    place-content: center;
}

.lb-bottom h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.01rem;
    text-align: center;
}


.lb-bottom__contact {
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 62.5rem;
    height: 20.5rem;
    background: linear-gradient(180deg, #242424 0%, #0B0B0B 100%);
    border-radius: 0.5rem;
}

.lb-bottom h3 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    width: 100%;
}

.lb-bottom__contact .lb-input__wrapper,
.lb-bottom__contact .lb-button__wrapper {
    width: calc(50% - 1.5rem);
}

.lb-bottom__contact .lb-input__wrapper .label--checkbox::before,
.lb-bottom__contact .lb-input__wrapper input[type="text"] {
    background-color: transparent;
}

.lb-bottom__contact .lb-input__wrapper input[type="text"],
.lb-bottom__contact .lb-input__wrapper input[type="text"]::placeholder {
    color: white;
}

.lb-bottom__contact .lb-input__wrapper .label--checkbox a {
    color: white;
}

.lb-bottom__contact .lb-button__wrapper {
    grid-template-columns: 1fr;
}


@media (max-width: 1608px) {

    .lb-top {
        /* background: linear-gradient(180deg, rgba(49, 49, 49, 0) 0%, rgba(27, 27, 27, 0.8) 10.58%, #191919 63.62%); */
    }

    .lb-top__container {
        background-position: left;
        background-size: cover;
        height: initial;
        padding-bottom: 2rem !important;
    }

    .lb-top h1 {
        position: initial;
        text-align: center;
        padding-top: 2rem;
        /* padding-bottom: 45vw; */
    }

    .lb-top__column--first,
    .lb-top__column--second {
        position: initial;
        width: 100%;
    }

    .lb-top__column--first {
        display: grid;
        place-content: center;
    }

    .lb-top__info,
    .lb-top__buttons,
    .lb-top__works {
        justify-content: center;
        flex-wrap: wrap;
    }

    .lb-top__buttons {
        margin-bottom: 2rem;
    }

    .lb-top__description p {
        margin-bottom: 2rem;
        text-align: center;
    }
}


@media (max-width: 1200px) {
    .lb-content__wrapper>* {
        width: 100%;
    }

    .lb-content__wrapper {
        flex-wrap: wrap;
    }

    .lb-content__text {
        order: 2;
    }

    .lb-steps__container {
        grid-template-columns: 1fr;
    }

    .lb-why__blocks {
        grid-template-columns: 1fr 1fr;
    }

    .lb-bottom {
        background-image: url(../images/lb/lb-bottom--mobile.png);
        background-position: center bottom;
        padding-bottom: 110vw;
    }

    .lb-bottom h2 {
        text-align: left;
        padding: 3rem 0 1.5rem 0;
    }

    .lb-bottom h3 {
        font-size: 1rem;
        text-align: left;
    }

    .lb-bottom .lb-input__wrapper,
    .lb-bottom .lb-button__wrapper {
        width: 100%;
    }

    .lb-bottom__contact,
    .lb-bottom__container {
        height: inherit;
    }

    .lb-bottom__contact {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .lb-steps ol {
        flex-wrap: nowrap;
        height: inherit;
    }

    .lb-steps ol li {
        width: 100%;
    }

    .lb-top h1 {
        font-size: 1.75rem;
        line-height: 2rem;
    }

    .lb-top__works {
        margin-bottom: 1rem;
    }

    .lb-button {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .lb-why__blocks {
        grid-template-columns: 1fr;
    }

    .lb-top__works {
        column-gap: 1.5rem;
        row-gap: 0.5rem;
    }

    ul.lb-top__works li {
        font-size: 1rem;

    }

    .lb-top__description p {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

@media (max-width: 480px) {

    .lb-top__works {
        margin-bottom: 0.5rem;
    }

    .lb-top h1 {
        padding-top: 1rem;
        padding-bottom: 40vw;
    }
}

@media (max-width: 360px) {

    .lb-top h1 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}