:root {
  --black: #000000;
  --white: #ffffff;
  /* --orange: #f16100; */
  --orange: #0077d7;
  --orange-dark: #e14400;
  --grey-1: #6c7275;
  --grey-2: #9f9f9f;
  --grey-3: #cdcdcd;
  --grey-4: #fafafa;
  --grey-5: #F0F0F0;

  --bg-grey: #e8e9eb;
  --bg-dark-grey: #141718;
}