:root {
  --font-size: 16px;
  --desktop-width: 1608px;
}

@media (max-width: 1650px) {
  :root {
    --desktop-width: 100vw;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat';
  font-weight: 400;
  color: var(--black);
  font-size: var(--font-size);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: var(--desktop-width);
  /* height: 100%; */
  margin: 0 auto;
}

@media (max-width: 1650px) {
  .container {
    padding: 0 1em;
  }
}

@media (max-width: 600px) {
  .wp-block-table,
  .container--scroll-x {
    overflow-x: scroll;
  }
}

.container--place-center {
  display: grid;
  place-content: center;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--black);
}

.main {
  display: grid;
  gap: 2.5rem;
  position: relative;
}

@media (max-width: 600px) {
  .main {
    gap: 2rem;
  }
}

.main .row--top {
  position: relative;
}

.main .overlay--main {
  position: absolute;
  z-index: 10;
  top: 9.0625rem;
  height: calc(100% - 9.0625rem);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.main .overlay--main.hidden {
  visibility: hidden;
  pointer-events: none;
  width: 0;
  height: 0;
}

.main .page-header {
  display: grid;
  gap: 1.5rem;
}

.main .breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main .breadcrumbs a {
  text-decoration: none;
  color: var(--grey-1);
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.main .breadcrumbs a::after {
  content: '/';
  color: var(--grey-1);
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.main .breadcrumbs .current-page {
  color: var(--grey-3);
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.main .page-description {
  color: var(--grey-1);
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
}

[hidden] {
  display: none !important;
}

.checkbox.required,
.captcha.required,
.input.required {
  outline: 2px solid tomato;
  outline-offset: 3px;
  position: relative;
}

.checkbox.required::after,
.captcha.required::after,
.input.required::after {
  content: 'обязательное поле';
  display: block;
  color: tomato;
  font-size: 0.75rem;
  position: absolute;
  bottom: -1.2rem;
}

.popup-catalog-show {
  position: absolute;
  inset: 0;
  height: 0;
}

p:empty {
  display: none;
}

#scrollTopBtn {
  position: fixed;
  bottom: 5em;
  right: 5em;
  display: none; /* Скрыта по умолчанию */
  background-color: var(--orange);
  color: white;
  border: none;
  width: 4rem;
  height: 4rem;

  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  z-index: 1000;
  opacity: 0.75;
  background-image: url(../../images/icons/arrow-right--black.svg);
  transform: rotate(-90deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
}

.viewer {
  position: fixed;
  inset: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
}

.viewer button {
  position: absolute;
}

.viewer button.close {
  top: 3%;
  right: 3%;
  background-image: url(../../images/icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3em;
  width: 3em;
  height: 3em;
}

.viewer button.prev,
.viewer button.next {
  top: 10%;
  height: 80vh;
  width: 30vw;
  background-image: url(../../images/icons/arrow-right--orange.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5em;
}

.viewer button.prev {
  left: 0%;
  transform: rotate(180deg);
}

.viewer button.next {
  right: 0%;
}

.image-full {
  margin: 5% auto 0 auto;
  width: 80%;
  height: 90%;
}

.image-full img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
}

.wp-block-table {
  margin: 0;
}
