<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/bundle.css" />
  </head>
  <body>
    <div class="main">
      <div class="overlay--main hidden"></div>
      <div class="row row--top">
        <!-- subnav -->
        <%- include('../templates/subnav') %>

        <!-- header-top -->
        <%- include('../templates/header-top') %>
      </div>

      <div class="container">
        <div class="breadcrumbs">
          <a href="">Главная</a>
          <span class="current-page">О компании</span>
        </div>
      </div>

      <div class="container page-header">
        <h1 class="page-title text--h1">О компании</h1>
      </div>

      <div class="container page-about">
        <div class="page-with-sidebar">
          <!--  -->
          <div class="page-with-sidebar__body">
            <div class="about-company">
              <div class="column text--14">
                <p>
                  Компания АСКО является официальным поставщиком крупнейших
                  производителей материалов потолочных систем и строительной
                  химии. История нашей компании началась с 2019 г.
                </p>
                <p>
                  За этот время мы прошли все стадии становления. Теперь мы не
                  просто торгуем, а оказываем комплексные услуги с
                  использованием творческого подхода, современных материалов и
                  технологий. На наших складских площадях более 950 позиций от
                  эконома до дизайнерских потолков в разных цветовых решениях.
                  Мы воплощаем в жизнь даже самые смелые решения.
                </p>
                <p>
                  Наша команда стремиться к непрекращающемуся развитию, наш
                  компас — ориентир на клиента, что позволяет нам быть
                  максимально гибкими в сотрудничестве с нашими заказчиками.
                </p>
              </div>

              <div class="column column--items text--title-14">
                <div class="column-item">
                  <div class="circle circle--location"></div>
                  <span
                    >Мы находимся в нескольких городах России: Москве,
                    Новосибирске, Красноярске, Барнауле, Хабаровске,
                    Владивостоке, Кемерово, Новокузнецке</span
                  >
                </div>
                <div class="column-item">
                  <div class="circle circle--star"></div>
                  <span>5 лет на рынке потолочных систем</span>
                </div>
                <div class="column-item">
                  <div class="circle circle--color-swatch"></div>
                  <span
                    >Более 950 позиций от эконом до дизайнерских потолков в
                    разных цветовых решениях.</span
                  >
                </div>
                <div class="column-item">
                  <div class="circle circle--medal"></div>
                  <span
                    >Гарантия на весь ассортимент предоставляемых услуг</span
                  >
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="page-with-sidebar__sidebar">
            <div class="sidebar__item--noborder">
              <h3>О компании</h3>
              <ul class="links">
                <li>
                  <a href="">Сертификаты</a>
                </li>
                <li>
                  <a href="">Реализованные проекты</a>
                </li>
                <li>
                  <a href="">Бренды</a>
                </li>
                <li>
                  <a href="">Доставка</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <%- include('../templates/footer') %>
    </div>

    <script src="./js/swiper-bundle.min.js"></script>
    <script src="./js/slider-partners.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
