<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/bundle.css" />
  </head>
  <body>
    <div class="main">
      <div class="overlay--main hidden"></div>
      <div class="row row--top">
        <!-- subnav -->
        <%- include('../templates/subnav') %>

        <!-- header-top -->
        <%- include('../templates/header-top') %>
      </div>

      <div class="container">
        <div class="breadcrumbs">
          <a href="">Главная</a>
          <a href="">Каталог</a>
          <span class="current-page">Подвесные минеральные потолки</span>
        </div>
      </div>

      <div class="container page-header">
        <h1 class="page-title text--h1">Подвесные минеральные потолки</h1>
      </div>

      <div class="container container--divider"></div>

      <div class="container">
        <p class="page-description">
          Минеральные потолки - идеальное решение для различных типов зданий и
          помещений. Они особенно подходят для использования в просторных
          помещениях, торговых центрах и офисах. Минеральные потолки - идеальное
          решение для различных типов зданий и помещений. Они особенно подходят
          для использования в просторных помещениях, торговых центрах и офисах.
        </p>
      </div>

      <div class="container container--tabs">
        <div class="tabs">
          <div class="tabs-item">Потолки Армстронг эконом класса</div>
          <div class="tabs-item">Бюджетный вариант потолки Армстронг</div>
          <div class="tabs-item">Потолки Армстронг с кромкой Board</div>
          <div class="tabs-item">Потолки Армстронг с кромкой Tegular 15</div>
          <div class="tabs-item">Потолки Армстронг с кромкой Tegular 15</div>
          <div class="tabs-item tabs-item--active">
            Негорючая потолочная плита Армстронг
          </div>
          <div class="tabs-item">Потолки Армстронг с кромкой Board</div>
        </div>
      </div>

      <div class="container catalog-category">
        <div class="sidebar">
          <ul class="items-types">
            <li class="item-type">
              <span>Подвесные потолки</span>
              <ul class="items">
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
              </ul>
            </li>
            <li class="item-type item-type--open">
              <span>Подвесные потолки</span>
              <ul class="items">
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
              </ul>
            </li>
            <li class="item-type">
              <span>Подвесные потолки</span>
              <ul class="items">
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
              </ul>
            </li>
            <li class="item-type">
              <span>Подвесные потолки</span>
              <ul class="items">
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
                <li><a href="">Эконом</a></li>
                <li><a href="">Прима (Prima)</a></li>
                <li><a href="">Акустические</a></li>
                <li><a href="">Влагостойкие</a></li>
                <li><a href="">Гигиенические</a></li>
                <li><a href="">Дизайнерские</a></li>
                <li><a href="">Цветные</a></li>
                <li><a href="">Огсаl (металл)</a></li>
                <li><a href="">Cellio (металл)</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="wrapper">
          <div class="products">
            <!--  -->
            <div class="product">
              <div class="easy-slider swiper">
                <div class="easy-slider__images swiper-wrapper">
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/01.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/02.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/03.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/04.png" alt="" />
                  </div>
                </div>
                <div class="easy-slider__paginator swiper-pagination"></div>
              </div>

              <a class="product__description" href="">
                <span class="type"> Эконом </span>
                <span class="title">Потолочная плита BAJKAL 90RH</span>
                <span class="more">Подробнее</span>
              </a>
            </div>
            <!--  -->
            <div class="product">
              <div class="easy-slider swiper">
                <div class="easy-slider__images swiper-wrapper">
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/01.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/02.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/03.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/04.png" alt="" />
                  </div>
                </div>
                <div class="easy-slider__paginator swiper-pagination"></div>
              </div>

              <a class="product__description" href="">
                <span class="type"> Эконом </span>
                <span class="title">Потолочная плита BAJKAL 90RH</span>
                <span class="more">Подробнее</span>
              </a>
            </div>
            <div class="product">
              <div class="easy-slider swiper">
                <div class="easy-slider__images swiper-wrapper">
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/01.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/02.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/03.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/04.png" alt="" />
                  </div>
                </div>
                <div class="easy-slider__paginator swiper-pagination"></div>
              </div>

              <a class="product__description" href="">
                <span class="type"> Эконом </span>
                <span class="title">Потолочная плита BAJKAL 90RH</span>
                <span class="more">Подробнее</span>
              </a>
            </div>
            <div class="product">
              <div class="easy-slider swiper">
                <div class="easy-slider__images swiper-wrapper">
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/01.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/02.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/03.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/04.png" alt="" />
                  </div>
                </div>
                <div class="easy-slider__paginator swiper-pagination"></div>
              </div>

              <a class="product__description" href="">
                <span class="type"> Эконом </span>
                <span class="title">Потолочная плита BAJKAL 90RH</span>
                <span class="more">Подробнее</span>
              </a>
            </div>
            <div class="product">
              <div class="easy-slider swiper">
                <div class="easy-slider__images swiper-wrapper">
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/01.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/02.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/03.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/04.png" alt="" />
                  </div>
                </div>
                <div class="easy-slider__paginator swiper-pagination"></div>
              </div>

              <a class="product__description" href="">
                <span class="type"> Эконом </span>
                <span class="title">Потолочная плита BAJKAL 90RH</span>
                <span class="more">Подробнее</span>
              </a>
            </div>
            <div class="product">
              <div class="easy-slider swiper">
                <div class="easy-slider__images swiper-wrapper">
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/01.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/02.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/03.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/04.png" alt="" />
                  </div>
                </div>
                <div class="easy-slider__paginator swiper-pagination"></div>
              </div>

              <a class="product__description" href="">
                <span class="type"> Эконом </span>
                <span class="title">Потолочная плита BAJKAL 90RH</span>
                <span class="more">Подробнее</span>
              </a>
            </div>
            <div class="product">
              <div class="easy-slider swiper">
                <div class="easy-slider__images swiper-wrapper">
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/01.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/02.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/03.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/04.png" alt="" />
                  </div>
                </div>
                <div class="easy-slider__paginator swiper-pagination"></div>
              </div>

              <a class="product__description" href="">
                <span class="type"> Эконом </span>
                <span class="title">Потолочная плита BAJKAL 90RH</span>
                <span class="more">Подробнее</span>
              </a>
            </div>
            <div class="product">
              <div class="easy-slider swiper">
                <div class="easy-slider__images swiper-wrapper">
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/01.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/02.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/03.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/04.png" alt="" />
                  </div>
                </div>
                <div class="easy-slider__paginator swiper-pagination"></div>
              </div>

              <a class="product__description" href="">
                <span class="type"> Эконом </span>
                <span class="title">Потолочная плита BAJKAL 90RH</span>
                <span class="more">Подробнее</span>
              </a>
            </div>
            <div class="product">
              <div class="easy-slider swiper">
                <div class="easy-slider__images swiper-wrapper">
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/01.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/02.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/03.png" alt="" />
                  </div>
                  <div class="easy-slider__image swiper-slide">
                    <img src="./images/projects/04.png" alt="" />
                  </div>
                </div>
                <div class="easy-slider__paginator swiper-pagination"></div>
              </div>

              <a class="product__description" href="">
                <span class="type"> Эконом </span>
                <span class="title">Потолочная плита BAJKAL 90RH</span>
                <span class="more">Подробнее</span>
              </a>
            </div>
          </div>

          <div class="paginator">
            <button class="first mobile--hidden">В начало</button>
            <button class="prev"></button>
            <button class="page-number current-page">1</button>
            <button class="page-number">2</button>
            <button class="next"></button>
            <button class="last mobile--hidden">В конец</button>
          </div>
        </div>
      </div>

      <div class="container page-information">
        <h3 class="page-information__title">
          Особенности минеральных потолков
        </h3>

        <p>
          Продукция популярного производителя пользуется неимоверным спросом.
          Это объясняется тем, что потолочные плиты изготавливаются из
          первосортного сырья, в качестве которого выступает твердое минволокно.
          В ассортименте представлены стильные конструкции:
        </p>

        <ol class="ol--numbers">
          <li class="li li-title">Плиты эконом-класса</li>
          <p>
            серия TACTIC, в которую входят панели Bajkal (Байкал), Retail
            (Ритейл), Oasis (Оазис), Skala (Скала). Изделия обладают хорошими
            показателями влагостойкости, светоотражения, звукопоглощения. Они
            рекомендованы к применению в офисах, магазинах, квартирах и на
            коммерческих предприятиях.
          </p>

          <li class="li li-title">Специализированные плиты</li>
          <p>функциональные решения:</p>
          <ul class="ul--circles">
            <li>
              медицинские плиты Bioguard, Alpina, Clean Room FL. Они находят
              повсеместное применение в больничных палатах, различных врачебных
              кабинетах;
            </li>
            <li>
              потолки для образовательных учреждений – панели Academy Diploma,
              используемые в школьных классах, аудиториях, помещениях детских
              садов;
            </li>
            <li>
              медицинские плиты Bioguard, Alpina, Clean Room FL. Они находят
              повсеместное применение в больничных палатах, различных врачебных
              кабинетах;
            </li>
            <li>
              потолки для образовательных учреждений – панели Academy Diploma,
              используемые в школьных классах, аудиториях, помещениях детских
              садов;
            </li>
            <li>
              медицинские плиты Bioguard, Alpina, Clean Room FL. Они находят
              повсеместное применение в больничных палатах, различных врачебных
              кабинетах;
            </li>
            <li>
              потолки для образовательных учреждений – панели Academy Diploma,
              используемые в школьных классах, аудиториях, помещениях детских
              садов;
            </li>
            <li>
              медицинские плиты Bioguard, Alpina, Clean Room FL. Они находят
              повсеместное применение в больничных палатах, различных врачебных
              кабинетах;
            </li>
            <li>
              потолки для образовательных учреждений – панели Academy Diploma,
              используемые в школьных классах, аудиториях, помещениях детских
              садов;
            </li>
          </ul>
        </ol>
      </div>

      <div class="container page-information">
        <h3 class="page-information__title">Преимущества</h3>
        <ul class="ul--circles">
          <li>
            медицинские плиты Bioguard, Alpina, Clean Room FL. Они находят
            повсеместное применение в больничных палатах, различных врачебных
            кабинетах;
          </li>
          <li>
            потолки для образовательных учреждений – панели Academy Diploma,
            используемые в школьных классах, аудиториях, помещениях детских
            садов;
          </li>
          <li>
            медицинские плиты Bioguard, Alpina, Clean Room FL. Они находят
            повсеместное применение в больничных палатах, различных врачебных
            кабинетах;
          </li>
          <li>
            потолки для образовательных учреждений – панели Academy Diploma,
            используемые в школьных классах, аудиториях, помещениях детских
            садов;
          </li>
          <li>
            медицинские плиты Bioguard, Alpina, Clean Room FL. Они находят
            повсеместное применение в больничных палатах, различных врачебных
            кабинетах;
          </li>
          <li>
            потолки для образовательных учреждений – панели Academy Diploma,
            используемые в школьных классах, аудиториях, помещениях детских
            садов;
          </li>
          <li>
            медицинские плиты Bioguard, Alpina, Clean Room FL. Они находят
            повсеместное применение в больничных палатах, различных врачебных
            кабинетах;
          </li>
          <li>
            потолки для образовательных учреждений – панели Academy Diploma,
            используемые в школьных классах, аудиториях, помещениях детских
            садов;
          </li>
        </ul>
      </div>

      <div class="container">
        <blockquote>
          <h4>
            Плиты Retail Armstrong также могут выпускаться в негорючем
            исполнении (сертификат "негорючий материал", класс пожарной
            опасности материала - КМ0). Плиты Retail NG имеют размер 600х600х12
            мм, кромка board, характеризуются увеличенным весом и более высокой
            стоимостью.
          </h4>
        </blockquote>
      </div>

      <div class="container--schemes">
        <div class="scheme scheme--big">
          <a class="scheme__overlay" href="">
            <img class="scheme__image" src="./images/schemes/01.png" alt="" />
          </a>

          <span class="scheme__description"
            >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения металлического
            подвесного потолка и плит гипсокартона</span
          >
        </div>

        <div class="scheme scheme--big">
          <a class="scheme__overlay" href="">
            <img class="scheme__image" src="./images/schemes/01.png" alt="" />
          </a>
          <span class="scheme__description"
            >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения металлического
            подвесного потолка и плит гипсокартона</span
          >
        </div>

        <div class="schemes__wrapper">
          <div class="scheme scheme--small">
            <a class="scheme__overlay" href="">
              <img class="scheme__image" src="./images/schemes/01.png" alt="" />
            </a>
            <span class="scheme__description"
              >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
              металлического подвесного потолка и плит гипсокартона</span
            >
          </div>
          <div class="scheme scheme--small">
            <a class="scheme__overlay" href="">
              <img class="scheme__image" src="./images/schemes/01.png" alt="" />
            </a>
            <span class="scheme__description"
              >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
              металлического подвесного потолка и плит гипсокартона</span
            >
          </div>
        </div>

        <div class="schemes__wrapper">
          <div class="scheme scheme--small">
            <a class="scheme__overlay" href="">
              <img class="scheme__image" src="./images/schemes/01.png" alt="" />
            </a>
            <span class="scheme__description"
              >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
              металлического подвесного потолка и плит гипсокартона</span
            >
          </div>
          <div class="scheme scheme--small">
            <a class="scheme__overlay" href="">
              <img class="scheme__image" src="./images/schemes/01.png" alt="" />
            </a>
            <span class="scheme__description"
              >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
              металлического подвесного потолка и плит гипсокартона</span
            >
          </div>
        </div>
      </div>

      <div class="container page-information container--scroll-x">
        <h3 class="page-information__title">Характеристики</h3>

        <table>
          <thead>
            <tr>
              <th>Название1</th>
              <th>Название2</th>
              <th>Название3</th>
              <th>Название4</th>
              <th>Название5</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>минеральное волокно</td>
              <td>от 15 до 20 мм</td>
              <td>600х1200 мм</td>
              <td>0,65 (standart)</td>
              <td>86%</td>
            </tr>
            <tr>
              <td>минеральное волокно</td>
              <td>от 15 до 20 мм</td>
              <td>600х1200 мм</td>
              <td>0,65 (standart)</td>
              <td>86%</td>
            </tr>
            <tr>
              <td>минеральное волокно</td>
              <td>от 15 до 20 мм</td>
              <td>600х1200 мм</td>
              <td>0,65 (standart)</td>
              <td>86%</td>
            </tr>
            <tr>
              <td>минеральное волокно</td>
              <td>от 15 до 20 мм</td>
              <td>600х1200 мм</td>
              <td>0,65 (standart)</td>
              <td>86%</td>
            </tr>
            <tr>
              <td>минеральное волокно</td>
              <td>от 15 до 20 мм</td>
              <td>600х1200 мм</td>
              <td>0,65 (standart)</td>
              <td>86%</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container">
        <div class="accordion">
          <div class="item item--open">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>

          <div class="item">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>

          <div class="item">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>

          <div class="item">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>

          <div class="item">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <%- include('../templates/footer') %>
    </div>

    <script src="./js/swiper-bundle.min.js"></script>
    <script src="./js/easy-slider.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
