<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div class="main">
      <div class="overlay--main hidden"></div>
      <div class="row row--top">
        <!-- mobile -->
        <%- include('../templates/mobile') %>

        <!-- subnav -->
        <%- include('../templates/subnav') %>

        <!-- header-top -->
        <%- include('../templates/header-top') %>
      </div>

      <div class="container page-header">
        <div class="breadcrumbs">
          <a href="">Главная</a>
          <span class="current-page">Каталог</span>
        </div>
        <h1 class="page-title text--h1">Каталог</h1>
      </div>

      <div class="products container container--products">
        <a href="" class="product">
          <img src="./images/products/items-1/01.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Потолочные панели Армстронг</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/02.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Подвисная система Албес</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/01.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Потолочные панели Армстронг</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/02.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Подвисная система Албес</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/01.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Потолочные панели Армстронг</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/02.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Подвисная система Албес</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/01.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Потолочные панели Армстронг</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/02.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Подвисная система Албес</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/01.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Потолочные панели Армстронг</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/02.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Подвисная система Албес</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/01.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Потолочные панели Армстронг</span>
            <span class="more">Подробнее</span>
          </div>
        </a>

        <a href="" class="product">
          <img src="./images/products/items-1/02.png" alt="" />
          <div class="wrapper">
            <span class="title text--h4">Подвисная система Албес</span>
            <span class="more">Подробнее</span>
          </div>
        </a>
      </div>

      <div class="container">
        <div class="accordion">
          <div class="item item--open">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>

          <div class="item">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>

          <div class="item">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>

          <div class="item">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>

          <div class="item">
            <div class="title">
              Какой потолок лучше использовать для висящих элементов
            </div>
            <div class="description">
              Для создания свободно-висящих элементов можно использовать профили
              Axiom. Они представлены металлическими профилями с 4 разными
              вертикальными размерами сечения, дополняемыми 2 каналами для
              монтажа гипсокартона, и могут сочетаться с 15-мм и 24-мм подвесной
              системой, включая и дизайнерскую подвесную систему Silhouette или
              Interlude.
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <%- include('../templates/footer') %>
    </div>

    <script src="./js/swiper-bundle.min.js"></script>
    <script src="./js/slider-partners.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
