<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/bundle.css" />
  </head>
  <body>
    <div class="main">
      <div class="overlay--main hidden"></div>
      <div class="row row--top">
        <!-- subnav -->
        <%- include('../templates/subnav') %>

        <!-- header-top -->
        <%- include('../templates/header-top') %>
      </div>

      <div class="container">
        <div class="breadcrumbs">
          <a href="">Главная</a>
          <a href="">О компании</a>
          <span class="current-page">Сертификаты</span>
        </div>
      </div>

      <div class="container page-header">
        <h1 class="page-title text--h1">Сертификаты</h1>
      </div>

      <div class="container certificates">
        <div class="page-with-sidebar">
          <!--  -->
          <div class="page-with-sidebar__body">
            <div class="certificates__group">
              <h3 class="certificates__group-title">Сертификаты Албес</h3>

              <ul class="certificates__items">
                <li class="certificates__item">
                  <a href="">
                    <h4 class="certificates__item-title">
                      Сертификат соответствия ГОСТ Р
                    </h4>
                    <p class="certificates__item-description">
                      Добровольная сертификация Профили металлические
                      (алюминиевые, стальные) тонкостенные, торговой марки
                      "АЛБЕС" с полимерным покрытием и без него или
                      анодированные типов: рейка, рейка Grigliato, решетка,
                      раскладка, гребенка, профиль, профиль-Т, профиль
                      соединительный, уголок, панель, подвес и комплектующие к
                      ним, для подвесных потолков, изготовленные по ТУ
                      25.11.23-002-29095323-2019. Серийный выпуск. Производитель
                      ООО «АЛБЕС МЕТ». Срок действия сертификата до 25.07.2025
                    </p>
                  </a>
                </li>
                <li class="certificates__item">
                  <a href="">
                    <h4 class="certificates__item-title">
                      Сертификат соответствия ГОСТ Р
                    </h4>
                    <p class="certificates__item-description">
                      Добровольная сертификация Профили металлические
                      (алюминиевые, стальные) тонкостенные, торговой марки
                      "АЛБЕС" с полимерным покрытием и без него или
                      анодированные типов: рейка, рейка Grigliato, решетка,
                      раскладка, гребенка, профиль, профиль-Т, профиль
                      соединительный, уголок, панель, подвес и комплектующие к
                      ним, для подвесных потолков, изготовленные по ТУ
                      25.11.23-002-29095323-2019. Серийный выпуск. Производитель
                      ООО «АЛБЕС МЕТ». Срок действия сертификата до 25.07.2025
                    </p>
                  </a>
                </li>
              </ul>
            </div>

            <div class="certificates__group">
              <h3 class="certificates__group-title">Сертификаты Албес</h3>

              <ul class="certificates__items">
                <li class="certificates__item">
                  <a href="">
                    <h4 class="certificates__item-title">
                      Сертификат соответствия ГОСТ Р
                    </h4>
                    <p class="certificates__item-description">
                      Добровольная сертификация Профили металлические
                      (алюминиевые, стальные) тонкостенные, торговой марки
                      "АЛБЕС" с полимерным покрытием и без него или
                      анодированные типов: рейка, рейка Grigliato, решетка,
                      раскладка, гребенка, профиль, профиль-Т, профиль
                      соединительный, уголок, панель, подвес и комплектующие к
                      ним, для подвесных потолков, изготовленные по ТУ
                      25.11.23-002-29095323-2019. Серийный выпуск. Производитель
                      ООО «АЛБЕС МЕТ». Срок действия сертификата до 25.07.2025
                    </p>
                  </a>
                </li>
                <li class="certificates__item">
                  <a href="">
                    <h4 class="certificates__item-title">
                      Сертификат соответствия ГОСТ Р
                    </h4>
                    <p class="certificates__item-description">
                      Добровольная сертификация Профили металлические
                      (алюминиевые, стальные) тонкостенные, торговой марки
                      "АЛБЕС" с полимерным покрытием и без него или
                      анодированные типов: рейка, рейка Grigliato, решетка,
                      раскладка, гребенка, профиль, профиль-Т, профиль
                      соединительный, уголок, панель, подвес и комплектующие к
                      ним, для подвесных потолков, изготовленные по ТУ
                      25.11.23-002-29095323-2019. Серийный выпуск. Производитель
                      ООО «АЛБЕС МЕТ». Срок действия сертификата до 25.07.2025
                    </p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!--  -->
          <div class="page-with-sidebar__sidebar">
            <div class="sidebar__item--noborder">
              <h3>О компании</h3>
              <ul class="links">
                <li>
                  <a class="active" href="">Сертификаты</a>
                </li>
                <li>
                  <a href="">Реализованные проекты</a>
                </li>
                <li>
                  <a href="">Бренды</a>
                </li>
                <li>
                  <a href="">Доставка</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <%- include('../templates/footer') %>
    </div>

    <script src="./js/swiper-bundle.min.js"></script>
    <script src="./js/slider-partners.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
