<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div class="main">
      <div class="overlay--main hidden"></div>
      <div class="row row--top">
        <!-- subnav -->
        <%- include('../templates/subnav') %>

        <!-- header-top -->
        <%- include('../templates/header-top') %>
      </div>

      <div class="container page-header">
        <div class="breadcrumbs">
          <a href="">Главная</a>
          <a href="">Реализованные проекты</a>
          <span class="current-page"
            >Алтайская школа-интернат с первоначальной лётной подготовкой</span
          >
        </div>
      </div>

      <div class="container project">
        <div class="sidebar">
          <!--  -->
          <div class="easy-slider swiper">
            <div class="easy-slider__images swiper-wrapper">
              <div class="easy-slider__image swiper-slide">
                <img src="./images/projects/01.png" alt="" />
              </div>
              <div class="easy-slider__image swiper-slide">
                <img src="./images/projects/02.png" alt="" />
              </div>
              <div class="easy-slider__image swiper-slide">
                <img src="./images/projects/03.png" alt="" />
              </div>
              <div class="easy-slider__image swiper-slide">
                <img src="./images/projects/04.png" alt="" />
              </div>
            </div>
            <div class="easy-slider__paginator swiper-pagination"></div>
          </div>

          <div class="map">
            <img src="./images/map--small.png" alt="" />
          </div>

          <div class="page-information">
            <h3 class="page-information__title">Характеристики</h3>

            <table>
              <tr>
                <td>Формат</td>
                <td>600х600 мм; 600х1200 мм</td>
              </tr>
              <tr>
                <td>Толщина плиты</td>
                <td>от 15 до 20 мм</td>
              </tr>
              <tr>
                <td>Материал</td>
                <td>минеральное волокно</td>
              </tr>
              <tr>
                <td>Цвет</td>
                <td>белый</td>
              </tr>
              <tr>
                <td>Поверхность</td>
                <td>ровная, гладкая</td>
              </tr>
              <tr>
                <td>Кромка</td>
                <td>board, tegular, microlook</td>
              </tr>
              <tr>
                <td>Шумопоглощение</td>
                <td>0,65 (standart)</td>
              </tr>
              <tr>
                <td>Шумоизоляция</td>
                <td>35 dB (standart)</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="body">
          <div class="wrapper">
            <h1 class="page-title text--h1">
              Алтайская школа-интернат с первоначальной лётной подготовкой
            </h1>

            <p class="title">
              Создали проект потолочных систем с современным дизайном и
              практичностью в эксплуатации.
            </p>

            <p>
              Проект потолочных систем с современным дизайном и практичностью в
              эксплуатации для бизнес центра Челябинск Сити является отличным
              решением.
            </p>
            <p>
              Практичность в эксплуатации таких потолочных систем также очень
              важна для бизнес центра. Например, системы с возможностью скрытого
              монтажа проводки и вентиляции могут обеспечить более эффективное
              использование пространства и улучшить его функциональность. Кроме
              того, потолочные системы с хорошими звукоизоляционными свойствами
              помогут создать комфортное рабочее окружение для арендаторов и
              посетителей бизнес центра.
            </p>
            <p>
              Важно также учесть требования по пожарной безопасности и
              энергосбережению при выборе потолочной системы. Здесь можно
              использовать материалы, которые отвечают стандартам пожарной
              безопасности и обладают хорошими теплоизоляционными свойствами.
            </p>
            <p>
              В целом, проект потолочных систем с современным дизайном и
              практичностью в эксплуатации для бизнес центра Челябинск Сити
              может значительно улучшить внешний вид и функциональность
              помещений, создавая комфортное и продуктивное рабочее окружение
              для арендаторов и посетителей.
            </p>
          </div>

          <div class="page-information">
            <h3 class="page-information__title">
              Элементы крепления Axiom (Аксиом)
            </h3>

            <p>
              На рисунке показаны профили и дополнительные элементы, которые
              используются для крепления этих профилей.
            </p>

            <div class="container--schemes">
              <div class="scheme scheme--big">
                <a class="scheme__overlay" href="">
                  <img
                    class="scheme__image"
                    src="./images/schemes/grey.png"
                    alt=""
                  />
                </a>

                <span class="scheme__description"
                  >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                  металлического подвесного потолка и плит гипсокартона</span
                >
              </div>

              <div class="scheme scheme--big">
                <a class="scheme__overlay" href="">
                  <img
                    class="scheme__image"
                    src="./images/schemes/grey.png"
                    alt=""
                  />
                </a>
                <span class="scheme__description"
                  >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                  металлического подвесного потолка и плит гипсокартона</span
                >
              </div>

              <div class="scheme scheme--big">
                <a class="scheme__overlay" href="">
                  <img
                    class="scheme__image"
                    src="./images/schemes/01.png"
                    alt=""
                  />
                </a>

                <span class="scheme__description"
                  >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                  металлического подвесного потолка и плит гипсокартона</span
                >
              </div>

              <div class="scheme scheme--big">
                <a class="scheme__overlay" href="">
                  <img
                    class="scheme__image"
                    src="./images/schemes/01.png"
                    alt=""
                  />
                </a>
                <span class="scheme__description"
                  >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                  металлического подвесного потолка и плит гипсокартона</span
                >
              </div>

              <div class="schemes__wrapper">
                <div class="scheme scheme--small">
                  <a class="scheme__overlay" href="">
                    <img
                      class="scheme__image"
                      src="./images/schemes/01.png"
                      alt=""
                    />
                  </a>
                  <span class="scheme__description"
                    >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                    металлического подвесного потолка и плит гипсокартона</span
                  >
                </div>
                <div class="scheme scheme--small">
                  <a class="scheme__overlay" href="">
                    <img
                      class="scheme__image"
                      src="./images/schemes/01.png"
                      alt=""
                    />
                  </a>
                  <span class="scheme__description"
                    >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                    металлического подвесного потолка и плит гипсокартона</span
                  >
                </div>
              </div>

              <div class="schemes__wrapper">
                <div class="scheme scheme--small">
                  <a class="scheme__overlay" href="">
                    <img
                      class="scheme__image"
                      src="./images/schemes/01.png"
                      alt=""
                    />
                  </a>
                  <span class="scheme__description"
                    >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                    металлического подвесного потолка и плит гипсокартона</span
                  >
                </div>
                <div class="scheme scheme--small">
                  <a class="scheme__overlay" href="">
                    <img
                      class="scheme__image"
                      src="./images/schemes/01.png"
                      alt=""
                    />
                  </a>
                  <span class="scheme__description"
                    >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                    металлического подвесного потолка и плит гипсокартона</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="page-information">
            <h3 class="page-information__title">Документы</h3>

            <ul class="documents documents--pdf">
              <li>
                <a href=""
                  >КМ1_RU_Knauf Armstrong Обязательный сертификат к ФЗ_123 до
                  01_07_2026 (6)_Optimizer</a
                >
              </li>
              <li>
                <a href=""
                  >КМ1_RU_Knauf Armstrong Обязательный сертификат к ФЗ_123 до
                  01_07_2026 (6)_Optimizer</a
                >
              </li>
              <li>
                <a href=""
                  >КМ1_RU_Knauf Armstrong Обязательный сертификат к ФЗ_123 до
                  01_07_2026 (6)_Optimizer</a
                >
              </li>
            </ul>
          </div>

          <div class="page-information">
            <h3 class="page-information__title">Как купить</h3>

            <p>
              Чтобы приобрести понравившийся товар, необходимо его заказать.
              Есть несколько сценариев того, как это можно сделать.
            </p>

            <ol class="ol--numbers">
              <li class="li">
                Выбрать понравившийся товар и нажать кнопку «Заказать». При
                оформлении заказа заполнить форму. Вписать информацию в поля:
                ФИО, телефон и e-mail. Затем вам перезвонит менеджер, чтобы
                подтвердить ваше согласие на совершение покупки.
              </li>

              <li class="li">
                Выбрать понравившийся товар и нажать кнопку «В корзину». Затем
                перейти в корзину и нажать «Оформить заказ». Далее заполнить
                форму с контактными данными и отправить заявку. С вами свяжется
                менеджер для дальнейшего обсуждения.
              </li>

              <li class="li">
                Перейти в карточку товара и нажать «Купить в один клик». После
                нажатия нужно заполнить форму и отправить заявку. С вами
                свяжется менеджер для дальнейшего обсуждения.
              </li>
            </ol>
          </div>

          <div class="">
            <div class="accordion">
              <div class="item item--open">
                <div class="title">
                  Какой потолок лучше использовать для висящих элементов
                </div>
                <div class="description">
                  Для создания свободно-висящих элементов можно использовать
                  профили Axiom. Они представлены металлическими профилями с 4
                  разными вертикальными размерами сечения, дополняемыми 2
                  каналами для монтажа гипсокартона, и могут сочетаться с 15-мм
                  и 24-мм подвесной системой, включая и дизайнерскую подвесную
                  систему Silhouette или Interlude.
                </div>
              </div>

              <div class="item">
                <div class="title">
                  Какой потолок лучше использовать для висящих элементов
                </div>
                <div class="description">
                  Для создания свободно-висящих элементов можно использовать
                  профили Axiom. Они представлены металлическими профилями с 4
                  разными вертикальными размерами сечения, дополняемыми 2
                  каналами для монтажа гипсокартона, и могут сочетаться с 15-мм
                  и 24-мм подвесной системой, включая и дизайнерскую подвесную
                  систему Silhouette или Interlude.
                </div>
              </div>

              <div class="item">
                <div class="title">
                  Какой потолок лучше использовать для висящих элементов
                </div>
                <div class="description">
                  Для создания свободно-висящих элементов можно использовать
                  профили Axiom. Они представлены металлическими профилями с 4
                  разными вертикальными размерами сечения, дополняемыми 2
                  каналами для монтажа гипсокартона, и могут сочетаться с 15-мм
                  и 24-мм подвесной системой, включая и дизайнерскую подвесную
                  систему Silhouette или Interlude.
                </div>
              </div>

              <div class="item">
                <div class="title">
                  Какой потолок лучше использовать для висящих элементов
                </div>
                <div class="description">
                  Для создания свободно-висящих элементов можно использовать
                  профили Axiom. Они представлены металлическими профилями с 4
                  разными вертикальными размерами сечения, дополняемыми 2
                  каналами для монтажа гипсокартона, и могут сочетаться с 15-мм
                  и 24-мм подвесной системой, включая и дизайнерскую подвесную
                  систему Silhouette или Interlude.
                </div>
              </div>

              <div class="item">
                <div class="title">
                  Какой потолок лучше использовать для висящих элементов
                </div>
                <div class="description">
                  Для создания свободно-висящих элементов можно использовать
                  профили Axiom. Они представлены металлическими профилями с 4
                  разными вертикальными размерами сечения, дополняемыми 2
                  каналами для монтажа гипсокартона, и могут сочетаться с 15-мм
                  и 24-мм подвесной системой, включая и дизайнерскую подвесную
                  систему Silhouette или Interlude.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container container--gap40">
        <h2 class="text--h2">Похожие статьи</h2>

        <div class="blog__articles">
          <a class="blog__article-link" href="">
            <div class="blog__article-images">
              <img src="./images/blog/01.png " alt="" />
            </div>

            <div class="blog__article-info">
              <div class="wrapper">
                <span class="date">12.09.2024</span>
                <h4 class="title">5 удивительных визуальных эффектов</h4>
              </div>
            </div>
          </a>

          <a class="blog__article-link" href="">
            <div class="blog__article-images">
              <img src="./images/blog/01.png " alt="" />
            </div>

            <div class="blog__article-info">
              <div class="wrapper">
                <span class="date">12.09.2024</span>
                <h4 class="title">5 удивительных визуальных эффектов</h4>
              </div>
            </div>
          </a>

          <a class="blog__article-link" href="">
            <div class="blog__article-images">
              <img src="./images/blog/01.png " alt="" />
            </div>

            <div class="blog__article-info">
              <div class="wrapper">
                <span class="date">12.09.2024</span>
                <h4 class="title">5 удивительных визуальных эффектов</h4>
              </div>
            </div>
          </a>

          <a class="blog__article-link" href="">
            <div class="blog__article-images">
              <img src="./images/blog/01.png " alt="" />
            </div>

            <div class="blog__article-info">
              <div class="wrapper">
                <span class="date">12.09.2024</span>
                <h4 class="title">5 удивительных визуальных эффектов</h4>
              </div>
            </div>
          </a>
        </div>

        <h2 class="text--h2">Каталог товаров</h2>

        <div class="products container--products">
          <a href="" class="product">
            <div class="easy-slider swiper">
              <div class="easy-slider__images swiper-wrapper">
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/01.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/02.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/03.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/04.png" alt="" />
                </div>
              </div>
              <div class="easy-slider__paginator swiper-pagination"></div>
            </div>
            <div class="wrapper">
              <span class="title">Потолочные панели Армстронг</span>
              <span class="more">Подробнее</span>
            </div>
          </a>

          <a href="" class="product">
            <div class="easy-slider swiper">
              <div class="easy-slider__images swiper-wrapper">
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/01.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/02.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/03.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/04.png" alt="" />
                </div>
              </div>
              <div class="easy-slider__paginator swiper-pagination"></div>
            </div>
            <div class="wrapper">
              <span class="title">Подвисная система Албес</span>
              <span class="more">Подробнее</span>
            </div>
          </a>

          <a href="" class="product">
            <div class="easy-slider swiper">
              <div class="easy-slider__images swiper-wrapper">
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/01.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/02.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/03.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/04.png" alt="" />
                </div>
              </div>
              <div class="easy-slider__paginator swiper-pagination"></div>
            </div>
            <div class="wrapper">
              <span class="title">Потолочные панели Армстронг</span>
              <span class="more">Подробнее</span>
            </div>
          </a>

          <a href="" class="product">
            <div class="easy-slider swiper">
              <div class="easy-slider__images swiper-wrapper">
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/01.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/02.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/03.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/04.png" alt="" />
                </div>
              </div>
              <div class="easy-slider__paginator swiper-pagination"></div>
            </div>
            <div class="wrapper">
              <span class="title">Подвисная система Албес</span>
              <span class="more">Подробнее</span>
            </div>
          </a>
        </div>
      </div>

      <!--  -->

      <!-- footer -->
      <%- include('../templates/footer') %>
    </div>

    <script src="./js/swiper-bundle.min.js"></script>
    <script src="./js/easy-slider.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
