<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./css/bundle.css" />
  </head>
  <body>
    <div class="main">
      <div class="overlay--main hidden"></div>
      <div class="row row--top">
        <!-- subnav -->
        <%- include('../templates/subnav') %>

        <!-- header-top -->
        <%- include('../templates/header-top') %>
      </div>

      <div class="container">
        <div class="breadcrumbs">
          <a href="">Главная</a>
          <a href="">Реализованные проекты</a>
          <span class="current-page"
            >Алтайская школа-интернат с первоначальной лётной подготовкой</span
          >
        </div>
      </div>

      <div class="container project">
        <div class="wrapper wrapper--gap16">
          <h1 class="page-title text--h1">
            Алтайская школа-интернат с первоначальной лётной подготовкой
          </h1>

          <p class="title">
            Создали проект потолочных систем с современным дизайном и
            практичностью в эксплуатации.
          </p>

          <div class="easy-slider swiper">
            <div class="easy-slider__images swiper-wrapper">
              <div class="easy-slider__image swiper-slide">
                <img src="./images/projects/01.png" alt="" />
              </div>
              <div class="easy-slider__image swiper-slide">
                <img src="./images/projects/02.png" alt="" />
              </div>
              <div class="easy-slider__image swiper-slide">
                <img src="./images/projects/03.png" alt="" />
              </div>
              <div class="easy-slider__image swiper-slide">
                <img src="./images/projects/04.png" alt="" />
              </div>
            </div>
            <div class="easy-slider__paginator swiper-pagination"></div>
          </div>

          <p>
            Проект потолочных систем с современным дизайном и практичностью в
            эксплуатации для бизнес центра Челябинск Сити является отличным
            решением.
          </p>
          <p>
            Практичность в эксплуатации таких потолочных систем также очень
            важна для бизнес центра. Например, системы с возможностью скрытого
            монтажа проводки и вентиляции могут обеспечить более эффективное
            использование пространства и улучшить его функциональность. Кроме
            того, потолочные системы с хорошими звукоизоляционными свойствами
            помогут создать комфортное рабочее окружение для арендаторов и
            посетителей бизнес центра.
          </p>
          <p>
            Важно также учесть требования по пожарной безопасности и
            энергосбережению при выборе потолочной системы. Здесь можно
            использовать материалы, которые отвечают стандартам пожарной
            безопасности и обладают хорошими теплоизоляционными свойствами.
          </p>
          <p>
            В целом, проект потолочных систем с современным дизайном и
            практичностью в эксплуатации для бизнес центра Челябинск Сити может
            значительно улучшить внешний вид и функциональность помещений,
            создавая комфортное и продуктивное рабочее окружение для арендаторов
            и посетителей.
          </p>
        </div>

        <div class="page-information">
          <h3 class="page-information__title">
            Элементы крепления Axiom (Аксиом)
          </h3>

          <p>
            На рисунке показаны профили и дополнительные элементы, которые
            используются для крепления этих профилей.
          </p>

          <div class="container--schemes">
            <div class="scheme scheme--big">
              <a class="scheme__overlay" href="">
                <img
                  class="scheme__image"
                  src="./images/schemes/grey.png"
                  alt=""
                />
              </a>

              <span class="scheme__description"
                >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                металлического подвесного потолка и плит гипсокартона</span
              >
            </div>

            <div class="scheme scheme--big">
              <a class="scheme__overlay" href="">
                <img
                  class="scheme__image"
                  src="./images/schemes/grey.png"
                  alt=""
                />
              </a>
              <span class="scheme__description"
                >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                металлического подвесного потолка и плит гипсокартона</span
              >
            </div>

            <div class="scheme scheme--big">
              <a class="scheme__overlay" href="">
                <img
                  class="scheme__image"
                  src="./images/schemes/01.png"
                  alt=""
                />
              </a>

              <span class="scheme__description"
                >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                металлического подвесного потолка и плит гипсокартона</span
              >
            </div>

            <div class="scheme scheme--big">
              <a class="scheme__overlay" href="">
                <img
                  class="scheme__image"
                  src="./images/schemes/01.png"
                  alt=""
                />
              </a>
              <span class="scheme__description"
                >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                металлического подвесного потолка и плит гипсокартона</span
              >
            </div>

            <div class="schemes__wrapper">
              <div class="scheme scheme--small">
                <a class="scheme__overlay" href="">
                  <img
                    class="scheme__image"
                    src="./images/schemes/01.png"
                    alt=""
                  />
                </a>
                <span class="scheme__description"
                  >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                  металлического подвесного потолка и плит гипсокартона</span
                >
              </div>
              <div class="scheme scheme--small">
                <a class="scheme__overlay" href="">
                  <img
                    class="scheme__image"
                    src="./images/schemes/01.png"
                    alt=""
                  />
                </a>
                <span class="scheme__description"
                  >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                  металлического подвесного потолка и плит гипсокартона</span
                >
              </div>
            </div>

            <div class="schemes__wrapper">
              <div class="scheme scheme--small">
                <a class="scheme__overlay" href="">
                  <img
                    class="scheme__image"
                    src="./images/schemes/01.png"
                    alt=""
                  />
                </a>
                <span class="scheme__description"
                  >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                  металлического подвесного потолка и плит гипсокартона</span
                >
              </div>
              <div class="scheme scheme--small">
                <a class="scheme__overlay" href="">
                  <img
                    class="scheme__image"
                    src="./images/schemes/01.png"
                    alt=""
                  />
                </a>
                <span class="scheme__description"
                  >BP T 3219WR G RAL 9010 - Рейка AXIOM для сопряжения
                  металлического подвесного потолка и плит гипсокартона</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="page-information">
          <div class="container--gap40">
            <h3 class="page-information__title">Объект на карте</h3>

            <img class="map" src="./images/map--fluid.png" alt="" />
          </div>
        </div>
      </div>

      <div class="container container--gap40">
        <h2 class="text--h2">Похожие статьи</h2>

        <div class="blog__articles">
          <a class="blog__article-link" href="">
            <div class="blog__article-images">
              <img src="./images/blog/01.png " alt="" />
            </div>

            <div class="blog__article-info">
              <div class="wrapper">
                <span class="date">12.09.2024</span>
                <h4 class="title">5 удивительных визуальных эффектов</h4>
              </div>
            </div>
          </a>

          <a class="blog__article-link" href="">
            <div class="blog__article-images">
              <img src="./images/blog/01.png " alt="" />
            </div>

            <div class="blog__article-info">
              <div class="wrapper">
                <span class="date">12.09.2024</span>
                <h4 class="title">5 удивительных визуальных эффектов</h4>
              </div>
            </div>
          </a>

          <a class="blog__article-link" href="">
            <div class="blog__article-images">
              <img src="./images/blog/01.png " alt="" />
            </div>

            <div class="blog__article-info">
              <div class="wrapper">
                <span class="date">12.09.2024</span>
                <h4 class="title">5 удивительных визуальных эффектов</h4>
              </div>
            </div>
          </a>

          <a class="blog__article-link" href="">
            <div class="blog__article-images">
              <img src="./images/blog/01.png " alt="" />
            </div>

            <div class="blog__article-info">
              <div class="wrapper">
                <span class="date">12.09.2024</span>
                <h4 class="title">5 удивительных визуальных эффектов</h4>
              </div>
            </div>
          </a>
        </div>

        <h2 class="text--h2">Каталог товаров</h2>

        <div class="products container--products">
          <a href="" class="product">
            <div class="easy-slider swiper">
              <div class="easy-slider__images swiper-wrapper">
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/01.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/02.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/03.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/04.png" alt="" />
                </div>
              </div>
              <div class="easy-slider__paginator swiper-pagination"></div>
            </div>
            <div class="wrapper">
              <span class="title">Потолочные панели Армстронг</span>
              <span class="more">Подробнее</span>
            </div>
          </a>

          <a href="" class="product">
            <div class="easy-slider swiper">
              <div class="easy-slider__images swiper-wrapper">
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/01.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/02.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/03.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/04.png" alt="" />
                </div>
              </div>
              <div class="easy-slider__paginator swiper-pagination"></div>
            </div>
            <div class="wrapper">
              <span class="title">Подвисная система Албес</span>
              <span class="more">Подробнее</span>
            </div>
          </a>

          <a href="" class="product">
            <div class="easy-slider swiper">
              <div class="easy-slider__images swiper-wrapper">
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/01.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/02.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/03.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/04.png" alt="" />
                </div>
              </div>
              <div class="easy-slider__paginator swiper-pagination"></div>
            </div>
            <div class="wrapper">
              <span class="title">Потолочные панели Армстронг</span>
              <span class="more">Подробнее</span>
            </div>
          </a>

          <a href="" class="product">
            <div class="easy-slider swiper">
              <div class="easy-slider__images swiper-wrapper">
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/01.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/02.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/03.png" alt="" />
                </div>
                <div class="easy-slider__image swiper-slide">
                  <img src="./images/projects/04.png" alt="" />
                </div>
              </div>
              <div class="easy-slider__paginator swiper-pagination"></div>
            </div>
            <div class="wrapper">
              <span class="title">Подвисная система Албес</span>
              <span class="more">Подробнее</span>
            </div>
          </a>
        </div>
      </div>
      <!--  -->

      <!-- footer -->
      <%- include('../templates/footer') %>
    </div>

    <script src="./js/swiper-bundle.min.js"></script>
    <script src="./js/easy-slider.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
