.main .products {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main .products a {
  text-decoration: none;
}

.main .products .product {
  width: 396px;
  height: 448px;
  background-color: var(--grey-4);
  cursor: pointer;
  display: grid;
  grid-template-rows: 289px 1fr;
  border-bottom: 2px solid transparent;
  transition: 0.3s all ease;
}

.main .products .product:hover {
  border-bottom-color: var(--orange);
}

.main .products .product .wrapper {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main .products .product .title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: var(--black);
  transition: 0.3s all ease;
}

.main .products .product:hover .title {
  color: var(--orange);
}

.main .products .product .more {
  color: var(--grey-1);
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s all ease;
}

.main .products .product:hover .more {
  color: var(--orange);
}

.main .products .product .more::after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url(../../images/icons/arrow-right.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s all ease;
}

.main .products .product:hover .more::after {
  background-image: url(../../images/icons/arrow-right--orange.svg);
}
